body{
	margin: 0;
	padding: 0;
	text-align: center;
	background-color: #DDD;
	font-family: Arial;
	font-size: 12px;
}
#central{
	background: #fff;
	width: 1000px;
	height: 600px;
	margin: 0 auto;
	position: relative;
	top: 50px;
}
input[type=text], select{
	width: 200px;
	height: 30px;
	font-size: 12px;
	text-transform: uppercase;
}
textarea{ text-transform: uppercase; }
input[type=button], input[type=reset], input[type=password]{
	width: 200px;
	height: 30px;
	font-size: 12px;
}
#retorno, #retornoErro{
	display: none;
}
#retornoErro{
	color: #8A1F11;
	background: #FBE3E4;
	border: 1px solid #FBC2C4;
}

#filtro{
	border-left: 0.7mm outset #999;
	border-right: 2px solid #eee;
	border-bottom: 2px solid #ddd;
	border-top: none;
	background: #fff;
	width: 230px;
	height: auto;
	display: none;
	position: absolute;
	z-index: 10;
	margin: 42px 0 0 281px;
	padding-top: 5px;
}

#filtro2{
	border-left: 0.7mm outset #999;
	border-right: 2px solid #eee;
	border-bottom: 2px solid #ddd;
	border-top: none;
	background: #fff;
	width: 230px;
	height: auto;
	display: none;
	position: relative;
	z-index: 10;
	margin: -2px 0 0 281px;
	padding-top: 5px;
}

.filtro{
	border: 0px solid #999;
	width: 228px;
	height: 20px;
	text-align: left;
	padding-left: 5px;
	margin-top: 2px;
	margin-bottom: 2px;
}

.filtro:hover{
	background: #888;
	color: #fff;
	cursor: pointer;
}

.fechar{
	border: 0px solid #999;
	color: red;
	width: 228px;
	height: 20px;
	text-align: right;
	padding-right: 5px;
	margin-top: 2px;
	margin-bottom: 0px;
	cursor: pointer;
	font-weight: bold;
}

.fechar:hover{
	background: red;
	color: red;
}

#txtFechar{
	color: #fff;
	cursor: pointer;
	font-weight: bold;
}

#trTitulo{
	background-color: #AAA;
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
}